<!DOCTYPE html>
<html>
<head>
  <title>IdeaBox20</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav-bar">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Idea Box 2.0</a>
      </div>
    </nav>
  </div>


<%= yield %>
</body>
</html>
